@font-face {
    font-family: 'ITC Eras Bold';
    src: url(../../fonts/ITCErasBold.otf);
}

html {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../../images/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'ITC Eras Bold';
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.header {
    max-height: 15em;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo_img {
    max-height: 100%;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.title {
    border: .4em solid rgb(153, 22, 153);
    background-color: rgb(133, 0, 133);
    border-radius: 5px;
    width: 23em;
    padding: .2em;
    text-align: center;
}

.title_img {
    max-height: 300px;
}

.input {
    display: flex;
    align-items: center;
}

.input_text {
    border: .2em solid rgb(153, 22, 153);
    background-color: rgb(133, 0, 133);
    color: whitesmoke;
    font-family: 'ITC Eras Bold';
    border-radius: .2em 0 0 .2em;
    width: 10em;
    padding: .15em;
    font-size: 1.8em;
}

.input_send {
    position: relative;
    width: 3.2em;
    height: 3.2em;
}

.input_send_button {
    width: 100%;
    height: 100%;
    background: rgb(153, 22, 153);
    border: 0;
    border-radius: 0 .5em .5em 0;
}

.input_send_icon {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 1em;
}

.leyend {
    display: flex;
    gap: 3em;
    border: .4em solid rgb(153, 22, 153);
    background-color: rgb(133, 0, 133);
    padding: 1em;
}

.correct {
    display: flex;
    align-items: center;
    gap: .5em;
}

.correct_color {
    border: 1px solid gold;
    background-color: green;
    width: 1em;
    height: 1em;
}

.incorrect {
    display: flex;
    align-items: center;
    gap: .5em;
}

.incorrect_color {
    border: 1px solid gold;
    background-color: red;
    width: 1em;
    height: 1em;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    padding: 0 5em;
}

.legals {
    display: flex;
    align-items: center;
    gap: 5em;
}

.legals_container {
    display: flex;
    gap: 2em;
}

.legals_link:hover {
    color: rgb(213, 170, 255);
}

.socials {
    display: flex;
    align-items: center;
    gap: 3em;
}

.socials_link {
    width: 2.5em;
}

.socials_image {
    fill: whitesmoke;
}

.socials_image:hover {
    fill: rgb(213, 170, 255);
}
