@font-face {
    font-family: 'ITC Eras Bold';
    src: url(../fonts/ITCErasBold.otf);
}

html{
    padding: 0;
    margin: 0;

    min-width: 100vw;
    min-height: 100vh;

    max-width: 100vw;
    max-height: 100vh;
}

body {
    padding: 0;
    margin: 0;

    background-image: url(../images/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family:'ITC Eras Bold';
    color: whitesmoke;
    }
    
    a{
        text-decoration: none;
        color: inherit;
        }
        
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-height: 100vh;
    max-height: 100vh;

    overflow: hidden;
}

.header {
    max-height: 15em;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.logo {
    display: flex;
    justify-content: center;
    &_img{
        max-height: 100%;
    }
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
}

.title{
    border: .4em solid rgb(153, 22, 153);
    background-color: rgb(133, 0, 133);
    border-radius: 5px;
    width: 23em;
    padding: .2em;
    text-align: center;

    &_img{
        max-height: 300px;
    }
}

.input{
    display: flex;
    align-items: center;
    &_text{
        border: .2em solid rgb(153, 22, 153);
        background-color: rgb(133, 0, 133);
        color: whitesmoke;
        font-family: 'ITC Eras Bold';
        border-radius: .2em 0 0 .2em;
        width: 10em;
        padding: .15em;
        font-size: 1.8em;
    }

    &_send{
        position: relative;
        width: 3.2em;
        height: 3.2em;
        
        &_button{
            width: 100%;
            height: 100%;
            background: rgb(153, 22, 153);

            border: 0;
            border-radius: 0 .5em .5em 0;
        }

        &_icon{
            position: absolute;
            left: 30%;
            top: 20%;
            width: 1em;
        }
    }
}

.leyend{
    display: flex;
    gap: 3em;

    border: .4em solid rgb(153, 22, 153);
    background-color: rgb(133, 0, 133);
    padding: 1em;
}

.correct{
    display: flex;
    align-items: center;
    gap: .5em;
    &_color{
        border: 1px solid gold;
        background-color: green;
        width: 1em;
        height: 1em;
    }
}

.incorrect{
    display: flex;
    align-items: center;
    gap: .5em;
    &_color{
        border: 1px solid gold;
        background-color: red;
        width: 1em;
        height: 1em;
    }
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    padding: 0 5em;
}
    
.legals{
    display: flex;
    align-items: center;
    gap: 5em;

    &_container{
        display: flex;
        gap: 2em;
    }

    &_link:hover{
        color:rgb(213, 170, 255);
    }
}

.socials{
    display: flex;
    align-items: center;
    gap: 3em;

    &_link{
        width: 2.5em;
    }

    &_image{
        fill:whitesmoke;
    }

    &_image:hover{
        fill: rgb(213, 170, 255);
    }
}